/* .App {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 20px;

  /* border: 1px solid gray; */

  /*display: flex;
  flex-direction: column; 
  gap: 30px;
} */

.App {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 20px;

  /* border: 1px solid gray; */

  display: flex;
  flex-direction: column; /*세로로 아이템 정렬*/
  gap: 30px;
}
